/*color*/

/*Shapes*/
.toolbox-shape {
    width: 190px;
    height: 190px;
    border: 2px solid black;
}
/*Navbar*/

.my-header .my-navbar {
    background: black!important;
}


/*Callout*/

.callout-container {
    height: 100vh;
    background: url('../images/Head-Picture-Four.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;

    position: relative;
    padding-bottom: 50px;
    padding-left: 50px;

}


/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: rgb(255, 255, 233);
    font-weight: bold;
    font-size: 4.5rem;
}

.jumbotron-paragraph {
    color: white;
    font-size: 20px;
    font-weight: bold;


}
.jumbotron-start-statement {
    color: white;
    font-size: 19px;

}

.border-style {
    position: relative;
    top: 0;
    left: 35px;
    right:0;
    padding-left: 100px;
    border-top: 10px solid rgba(0,0,0,0.1);
    margin: 0;
}

/*Cyber Security Introduction statement*/

.statement-container {
    text-align: left;
    align-items: center;
    /*position: relative;*/
    /*top:0;*/
    /*left:10pc;*/
    /*right:0;*/

}


/*Media queries*/

@media (max-width: 767px) {
    .jumbotron-header {
        font-size: 30px;
        padding-left: 100px;
    }
    .jumbotron-paragraph {
        font-size: 20px;
        padding-left: 100px;
        width: 100%;
    }
    .jumbotron-line-style {
        position: relative;
        top: 0;
        left:100px;
        right:0;
    }
    .jumbotron-button {
        position: relative;
        top: 0;
        left:45px;
        right:0;
    }
}