/*Navigation bar Styling*/
.my-header .my-navbar {
    background: black!important;
}

/*Hero-Callout
THIS CODE IS COPIED DIRECTLY FROM ONE OF THE LECTURES IN INTERACTIVE
FRONT END*/
.hero-callout-container {
    height: 100vh;
    background: url('../images/Hero-Image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;

    position: relative;
    padding-bottom: 50px;
    padding-left: 50px;

}

/*Smooth scrolling CSS*/
html {
    scroll-behavior: smooth;
}

/*Hero-callout-group*/
.hero-card {
    border: 0;
    background-color: transparent;
}
.hero-title-box {
    background-color: transparent;

}
.hero-text-size {
    font-size: 6rem;
    font-weight: 500;
}
.hero-card-paragraph {
    font-size: 1.6rem;
}
.customized-hero-text {
    position: relative ;
    top: 0;
    left: -700px;
    right: 200px;
}


/*Hero-border-line*/
.line-border-style {
    border-top: 10px solid rgba(0,0,0,0.1);
    }


/*Application List*/
.application-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Global Card Styling*/
.card-header-color {
    background-color:#bee1b4;
    color: black;
    font-size: 1.7em;
    font-weight: 900;
}
.card-color {
    color: black;
}
.card-text-color {
    color: black;
    margin-bottom: 0;
}
.customized-cards {
    border: 0;
}


/*Tools-box section style*/
.toolbox-container {
    background-color: #044517 !important;
    padding-bottom: 70px;
}
.tool-box-line-style {
    margin: 0;
    width: 115px;
    padding-right: 55px;
    position: relative;
    top: -10px;
    left: -10px;
    right: 0;
}


/*cyber-careers-video*/
.cyber-careers-video {
    padding-top: 30px;
}
.cyber-careers-headline {
    color: #000000 !important;
    margin-bottom: 30px;
    text-align: left;
}
.cyber-careers-video-container {
    padding-bottom: 50px;
}
.content-placement {
    text-align: center;

}
.iframe {
    border: 0;
}


/*Techniques Container*/
.techniques-container {
    background-color: #044517;
    padding-bottom: 70px;
}
.techniques-line-style {
    margin: 0;
    width: 115px;
    padding-right: 78px;
    position: relative;
    top: -10px;
    left: -10px;
    right: 0;
}


/*Sign-up Container*/
.sign-up-container {
    padding-bottom: 60px;
    background-color: #eee;
}
.register-headline {
    margin-bottom: 40px;
}
.input-text {
    margin-left: 3px;
}


/*HR footer style*/
.footer-style {
    margin: 0;
    border-top: 1px solid #000000;
}
.divider-color {
    background-color: #eee;
}


/*Contact-us*/
.contact-us-container {
    padding-bottom: 30px;
    background-color: #eee;
}
.contact-headline {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 35px;
}
.marker-center {
    display:flex;
    text-align: center;
}
.contact-margin {
    margin-bottom: 0.2rem;
}
.contact-icons {
    margin-bottom: 15px;
}

/*Footer Container*/
.footer-container {
    background-color: #21262a;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 1.1em;
}
.hr-light {
    border-top: 1px solid #5d5c57;
}


/*Social Media Icons*/
.social-media-custom {
    margin-right: 5px;
    padding-top: 10px;
}
.copyright-container {
    font-weight: 400;
    padding-left: 695px;
}


/*Media Styling*/
@media (max-width: 1200px) {
    .hero-text-size {
        font-size: 5rem;
    }
    .hero-card-paragraph {
        font-size: 1.4rem;
    }
    .customized-hero-text {
        text-align: center;
        position: relative ;
        top: 0;
        left: 0px;
        right: 0px;
    }
    .line-border-style {
        text-align: center;
    }

}
@media (max-width: 992px){
    .hero-text-size {
        font-size: 4rem;

    }
    .hero-card-paragraph {
        font-size: 1.3rem;
    }
    .customized-hero-text {
        text-align: center;
        position: relative ;
        top: 0;
        left: 0px;
        right: 0px;
    }
    .line-border-style {
        text-align: center;
    }
}
@media (max-width: 768px) {
    .hero-text-size {
        font-size: 3.5rem;
    }
    .hero-card-paragraph {
        font-size: 1.2rem;
    }
    .customized-hero-text {
        text-align: center;
        position: relative ;
        top: 0;
        left: 0px;
        right: 0px;
    }
    .line-border-style {
        text-align: center;
    }
}
@media (max-width: 576px){
    .hero-text-size {
        font-size: 2.6rem;
    }
    .customized-hero-text {
        text-align: center;
        position: relative ;
        top: 0;
        left: 0px;
        right: 0px;
    }
    .line-border-style {
        text-align: center;
    }
    .hero-card {
        width: 60%
    }
}
@media (max-width: 360px){
    .hero-text-size {
        font-size: 2rem;
    }
    .customized-hero-text {
        text-align: center;
        position: relative ;
        top: 0;
        left: 0px;
        right: 0px;
    }
    .line-border-style {
        text-align: center;
    }
    .hero-card {
        width: 75% !important;
    }
}




/*Media query affecting all screen sizes.*/
@media (min-width: 1px) and (max-width: 1200px) {
    .copyright-container {
        padding-left: 0;
        display: block;
    }
}

/*Modal Styling*/
    .modal-login-username {
        margin-top: 10px;
        margin-bottom: 0;
        font-weight: 700;
    }
    .modal-login-password {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 700;
    }

    .modal-create-username {
        margin-top: 10px;
        margin-bottom: 0;
        font-weight: 700;
    }
    .modal-fill-name {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 700;
    }
    .modal-create-password {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 700;
    }
    .modal-footer {
        border: 0;
    }

