/*Navigation bar Styling*/
.my-header .my-navbar {
    background: black!important;
}
.my-header .nav-item {
    color: white;
}
/*/Navigation bar Styling*/

/*Hero-Callout*/
.hero-callout-container {
    height: 100vh;
    background: url('../images/Head-Picture-Four.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;

    position: relative;
    padding-bottom: 50px;
    padding-left: 50px;

}
/*/Hero-Callout*/

/*Jumbotron-callout-group*/
.jumbotron {
    background-color: transparent;
}
.jumbotron-header {
    color: rgb(255, 255, 233);
    font-weight: bold;
    font-size: 4.5rem;
}
.jumbotron-paragraph {
    color: white;
    font-size: 20px;
    font-weight: bold;


}
.jumbotron-start-statement {
    color: white;
    font-size: 19px;

}
/*/Jumbotron-callout-group*/

/*Hero-border-line*/
.line-border-style {
    position: relative;
    top: 0;
    left: 35px;
    right:0;
    padding-left: 100px;
    border-top: 10px solid rgba(0,0,0,0.1);
    margin: 0;
}
/*/Hero-border-line*/

/*Application List*/
.application-container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.python-picture-placement {
    position: relative;
    top: 10px;
    left: 0;
    right: 0;

}
.meta-picture-placement {
    position: relative;
    top: 8px;
    left: 0;
    right: 0;
}
/*/Application List*/

/*Global Card Styling*/
.card-header-color {
    background-color:#bee1b4;
    color: black;
    font-size: 1.7em;
    font-weight: 900;
}
.card-color {
    background-color:white;
    color: black;
}
.card-text-color {
    color: black;
    margin-bottom: 0;
}
.customized-cards {
    border: 0;
}
/*/Global Card Styling*/

/*Tools-box section style*/
.tool-box-color {
    color: white;
}
.toolbox-container {
    background-color: #044517 !important;
    padding-bottom: 70px;
}
.tool-box-line-style {
    margin: 0;
    width: 15px;
    padding-right: 55px;
    position: relative;
    top: -10px;
    left: -10px;
    right: 0;
}
/*Tools-box section style*/

/*Kali Linux Container*/
.cyber-security-video {
    padding-top: 30px;
    background-color: #eee;
}
.cyber-security-headline {
    color: black !important;
    margin-bottom: 30px;
    padding-left: 1px;
    padding-right: 320px;
}
.cyber-security-video-container {
    padding-bottom: 50px;
    background-color: #eee;
}
.content-placement {
    text-align: center;

}
/*/Kali Linux Container*/

/*Techniques Container*/
.techniques-headline-color {
    color: white;
}
.techniques-container {
    background-color: #044517;
    padding-bottom: 70px;
}
.techniques-line-style {
    margin: 0;
    width: 15px;
    padding-right: 78px;
    position: relative;
    top: -10px;
    left: -10px;
    right: 0;
}
/*/Techniques Container*/

/*Sign-up Container*/
.sign-up-container {
    padding-bottom: 30px;
    background-color: #eee;
}
.register-headline {
    margin-bottom: 40px;
}
.input-text {
    margin-left: 3px;
}
/*/Sign-up Container*/

/*Contact-us*/
.contact-us-container {
    margin-bottom: 30px;
}
.contact-headline {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
}
.marker-center {
    display:flex;
    text-align: center;
}

.contact-icons {
    margin-bottom: 15px;
}

/*Footer Container*/
.footer-container {
    width: 100%;
    background-color: #21262a;
    padding-top: 50px;
    padding-bottom: 30px;
    color: white;
    font-size: 1.1em;
}
.hr-light {
    border-top: 1px solid #5d5c57;
}
/*/Footer Container*/

/*Social Media Icons*/
.social-media-custom {
    color: white !important;
    margin-right: 5px;
    padding-top: 10px;
}
.copyright-container {
    font-weight: 400;
    padding-left: 695px;
}
/*/Social Media Icons*/

/*Media Styling*/
@media (min-width: 300px) and (max-width: 320px) {
    .jumbotron {
        margin-top: 30%;
    }
    .jumbotron-header {
        font-size: 30px;
        padding-left: 100px;
    }
    .jumbotron-paragraph {
        font-size: 20px;
        padding-left: 100px;
        width: 100%;
    }
    .jumbotron-line-style {
        position: relative;
        top: 0;
        left: 100px;
        right: 0;
        padding-left: 70px;
    }
    .jumbotron-button {
        position: relative;
        top: -40px;
        left: 50px;
        right: 0;
        font-size: 0.9rem;
    }
    .customized-cards {
        position: relative;
        top: 0;
        left: 0;
        right: 20px;
    }
    .meta-picture-placement {
        width: 70%;
        height: 70%;
        position: relative;
        top: 0;
        left: 25px;
        right: 0;
}
    .cyber-security-headline {

    }
    .video-sizing {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .video-sizing iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .custom-paragraph {
        margin: 0;
    }
    .copyright-container {
        text-align: justify;
        display:inline-block;
        font-weight: 400;
        padding-left: 0;
        font-size: 70%;
    }
    .social-media-container {
        text-align: center;
    }

}

@media (min-width: 321px) and (max-width: 360px) {
    .jumbotron-header {
        font-size: 30px;
        padding-left: 100px;
    }
    .jumbotron-paragraph {
        font-size: 20px;
        padding-left: 100px;
        width: 100%;
    }
    .jumbotron-line-style {
        position: relative;
        top: 0;
        left: 122px;
        right: 0;
        padding-left: 50px;
    }
    .jumbotron-button {
        position: relative;
        top: -40px;
        left: 50px;
        right: 0;
        font-size: 0.9rem;
    }
    .meta-picture-placement {
        width: 70%;
        height: 70%;
        position: relative;
        top: 0;
        left: 45px;
        right: 0;
    }
    .video-sizing {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .video-sizing iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .custom-paragraph {
        margin: 0;
    }
    .copyright-container {
        text-align: justify;
        display:inline-block;
        font-weight: 400;
        padding-left: 0;
    }
    .social-media-container {
        text-align: center;
    }
}

@media (min-width: 361px) and (max-width: 375px) {
    .jumbotron {
        padding-left: 0;
        margin-right: 5%;
        position: relative;
        top: 0;
        left: 10px;
        right: 0;
    }

    .jumbotron-header {
        font-size: 45px;
        padding-left: 100px;
    }
    .jumbotron-paragraph {
        font-size: 20px;
        padding-left: 100px;
        width: 100%;
    }
    .jumbotron-line-style {
        position: relative;
        top: 0;
        left: 119px;
        right: 0;
        padding-left: 80px;
    }
    .jumbotron-button {
        position: relative;
        top: -40px;
        left: 50px;
        right: 0;
        font-size: 0.9rem;
    }
    .meta-picture-placement {
        width: 70%;
        height: 70%;
        position: relative;
        top: 0;
        left: 47px;
        right: 0;
    }
    .video-sizing {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .video-sizing iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .custom-paragraph {
        margin: 0;
    }

    .copyright-container {
        text-align: justify;
        display:inline-block;
        font-weight: 400;
        padding-left: 0;
    }
    .social-media-container {
        text-align: center;
    }
}

@media (min-width: 376px) and (max-width: 411px) {
    .text-center {
        position: relative;
        top: 0;
        left: 20px;
        right: 0;
    }
    .jumbotron-header {
        font-size: 45px;
        padding-left: 100px;
    }
    .jumbotron-paragraph {
        font-size: 20px;
        padding-left: 100px;
        width: 100%;
    }
    .jumbotron-line-style {
        position: relative;
        top: 0;
        left: 134px;
        right: 0;
        padding-left: 65px;
    }
    .jumbotron-button {
        position: relative;
        top: -40px;
        left: 50px;
        right: 0;
        font-size: 1.1rem;
    }
    .meta-picture-placement {
        width: 75%;
        height: 75%;
        position: relative;
        top: 0;
        left: 55px;
        right: 0;
    }
    .video-sizing {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .video-sizing iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .custom-paragraph {
        margin: 0;
    }
    .footer-container h6 {
        margin-right: 12%;
    }
    .footer-container small {
        margin-right: 10%;
    }

    .copyright-container {
        text-align: justify;
        display:inline-block;
        font-weight: 400;
        padding-left: 15px;
    }
    .social-media-container {
        text-align: center;
    }
}

@media (min-width: 412px) and (max-width: 414px) {
    .text-center{
        position: relative;
        top: 0;
        left: 20px;
        right: 0;
    }

    .jumbotron-header {
        font-size: 45px;
        padding-left: 100px;
    }
    .jumbotron-paragraph {
        font-size: 20px;
        padding-left: 100px;
        width: 100%;
    }
    .jumbotron-line-style {
        position: relative;
        top: 0;
        left: 135px;
        right: 0;
        padding-left: 65px;
    }
    .jumbotron-button {
        position: relative;
        top: -40px;
        left: 50px;
        right: 0;
        font-size: 1.1rem;
    }
    .meta-picture-placement {
        width: 75%;
        height: 75%;
        position: relative;
        top: 0;
        left: 57px;
        right: 0;
    }
    .video-sizing {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .video-sizing iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .custom-paragraph {
        margin: 0;
    }
    .footer-container h6 {
        margin-right: 10%;

    }
    .footer-container small {
        margin-right: 12%;

    }
    .copyright-container {
        text-align: justify;
        display:inline-block;
        font-weight: 400;
        padding-left: 20px;
    }
    .social-media-container {
        text-align: center;
    }
}

@media (min-width: 700px) and (max-width: 768px) {
    .text-center{
        position: relative;
        top: 0;
        left: 270px;
        right: 0;
    }

    .jumbotron-header {
        font-size: 60px;
        padding-left: 100px;
    }
    .jumbotron-paragraph {
        font-size: 30px;
        padding-left: 100px;
        width: 100%;
    }
    .jumbotron-line-style {
        position: relative;
        top: 0;
        left: 110px;
        right: 0;
        padding-left: 140px;
    }
    .jumbotron-button {
        position: relative;
        top: -40px;
        left: 50px;
        right: 0;
        font-size: 1.1rem;
    }
    .jumbotron-start-statement {
        position: relative;
        top: -20px;
        left: 50px;
        right: 0;
    }
    .meta-picture-placement {
        width: 75%;
        height: 75%;
        position: relative;
        top: 3px;
        left: 0;
        right: 0;
    }
    .video-sizing {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .video-sizing iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .python-picture-placement {
        width: 72%;
        height: 72%;
        position: relative;
        top: 3px;
        left: 20px;
        right: 0;
    }
    .custom-paragraph {
        margin: 0;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .footer-container h6 {
        margin-right: 65%;
        position: relative;
        top: 0;
        left: 215px;
        right: 0;
    }
    .email-input-container {
        margin-right: 50%;
        text-align: center;
        position: relative;
        top: 0;
        left: 150px;
        right: 0;
    }
    .footer-container input {
        width: -50% !important;
    }
    .input-container {
        width: 70%;
        position: relative;
        top: 0;
        left: 100px;
        right: 0;
    }
    .copyright-container {
        font-weight: 400;
        padding-left: 275px;
    }
    /*.social-media-container {*/
    /*    text-align: center;*/
    /*}*/
}

@media (min-width: 1020px) and (max-width: 1024px) {
    .text-center{
        position: relative;
        top: 0;
        left: 400px;
        right: 0;
    }

    .jumbotron-header {
        font-size: 80px;
        padding-left: 100px;
    }
    .jumbotron-paragraph {
        font-size: 35px;
        padding-left: 100px;
        width: 100%;
    }
    .jumbotron-line-style {
        position: relative;
        top: 0;
        left: 150px;
        right: 0;
        padding-left: 160px;
    }
    .jumbotron-button {
        position: relative;
        top: -40px;
        left: 50px;
        right: 0;
        font-size: 1.1rem;
    }
    .jumbotron-start-statement {
        position: relative;
        top: -20px;
        left: 50px;
        right: 0;
    }
    .meta-picture-placement {
        width: 85%;
        height: 85%;
        position: relative;
        top: 3px;
        left: -150px;
        right: 0;
    }
    .video-sizing {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }
    .video-sizing iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .python-picture-placement {
        width: 85%;
        height: 85%;
        position: relative;
        top: 3px;
        left: -150px;
        right: 0;
    }
    .custom-paragraph {
        margin: 0;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .footer-container h6 {
        margin-right: 50%;
        position: relative;
        top: 0;
        left: 215px;
        right: 0;
    }
    .email-input-container {
        margin-right: 50%;
        text-align: center;
        position: relative;
        top: 0;
        left: 190px;
        right: 0;
    }
    .footer-container input {
        width: -50% !important;
    }
    .input-container {
        width: 70%;
        position: relative;
        top: 0;
        left: 125px;
        right: 0;
    }
    .copyright-container {
        font-weight: 400;
        padding-left: 510px;
    }
    /*.social-media-container {*/
    /*    text-align: center;*/
    /*}*/
}
/*/Media Styling*/

/*Modal Styling*/
    .modal-login-username {
        margin-top: 10px;
        margin-bottom: 0;
        font-weight: 700;
    }
    .modal-login-password {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 700;
    }

    .modal-create-username {
        margin-top: 10px;
        margin-bottom: 0;
        font-weight: 700;
    }
    .modal-fill-name {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 700;
    }
    .modal-create-password {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 700;
    }
    .modal-footer {
        border: 0;
    }
/*/Modal Styling*/
